* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%); */
  background-image: url("./images/wood.png");
  background-size: 30% 30%;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 2rem;
  margin-left: 1rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
  overflow: hidden;
}
form button {
  color: #ff6f47;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 10px;
}

form button:hover {
  background: #ff6f47;
  color: white;
}

.head {
  display: flex;
  flex-direction: row;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 50rem;
  min-height: 600px;
  background: linear-gradient(
    90deg,
    rgb(252, 171, 22) 0%,
    rgb(224, 190, 37) 100%
  );
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding: 2rem 3rem;
  padding-bottom: 32px;
}

.task-form {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-top: 0%;
}

.input-group {
  display: flex;
  border-radius: 10px;
  background: #fff;
}

.input-group.todo-input {
  border: 0;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  width: 100%;
  list-style: none;
}

.todo {
  border-radius: 10px;
  margin: 0rem;
  width: 100%;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.filter-todo {
  padding: 0.5rem;
}
.todo li {
  flex: 1;
  font-size: 2rem;
}
.todo-button {
  border-radius: 10px;
  background: #918e9b;
  color: #f7fffe;
}

.trash-btn,
.complete-btn,
.high-btn {
  background: none;
  color: #ff6f47;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 10px;
}
.complete-btn {
  background: none;
  color: rgb(11, 212, 162);
  border-radius: 10px;
}
.high-btn {
  background: transparent;
  color: #d40707;
}

.high-btn:hover {
  background: #d40707;
  color: #f7fffe;
  transition: all 0.7s ease;
}

.todo-item {
  background: #fff;
  border-radius: 10px;
  width: 90%;
}

.choise {
  overflow: hidden;
  display: flex;
}

.fa-trash,
.fa-check {
  pointer-events: pointer;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.HIGH {
  background: #d4070780;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  display: flex;
  border-radius: 10px;
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #ff6f47;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  font-size: 1rem;
  background: #ff6f47;
  cursor: pointer;
  pointer-events: none;
}
/* Transition */
/*
.select:hover::after {
  transform: scale(1.5);
}
*/
